[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SensitivityCaseControl"]
	path = SensitivityCaseControl
	url = https://github.com/cran/SensitivityCaseControl
